{
  "openapi": "3.1.0",
  "info": {
    "title": "SmartApe API",
    "description": "API para operaciones de RAG y generación de video de SmartApe.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.smartape.io"
    }
  ],
  "paths": {
    "/rag/upload-file": {
      "post": {
        "summary": "Subir archivo RAG",
        "description": "Carga un archivo al servicio RAG para procesar información.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Archivo a subir"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Archivo subido correctamente"
          },
          "400": {
            "description": "Error al subir archivo"
          }
        }
      }
    },
    "/rag/delete-file": {
      "post": {
        "summary": "Eliminar archivo RAG",
        "description": "Elimina un archivo previamente cargado en el servicio RAG.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Nombre del archivo a eliminar"
                  }
                },
                "required": ["filename"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Archivo eliminado correctamente"
          },
          "400": {
            "description": "Error al eliminar archivo"
          }
        }
      }
    },
    "/rag/get-files": {
      "get": {
        "summary": "Listar archivos RAG",
        "description": "Obtiene la lista de archivos cargados en el sistema RAG.",
        "responses": {
          "200": {
            "description": "Lista de archivos obtenida correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rag/query": {
      "post": {
        "summary": "Consultar información RAG",
        "description": "Envía una consulta para buscar información dentro del sistema RAG.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Texto de la consulta a realizar"
                  }
                },
                "required": ["query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": {
                      "type": "string",
                      "description": "Respuesta generada por el modelo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en la consulta"
          }
        }
      }
    },
    "/video/create": {
      "post": {
        "summary": "Crear video",
        "description": "Genera un video basado en un script o información de entrada.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Título del video"
                  },
                  "script": {
                    "type": "string",
                    "description": "Texto del guion o script"
                  },
                  "themes": {
                    "type": "string",
                    "description": "Temas o subtemas del video, separados por comas"
                  }
                },
                "required": ["title", "script"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "videoUrl": {
                      "type": "string",
                      "description": "URL del video generado"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error al generar video"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
